<% layout('layouts/boilerplate') -%>

<h1>Create Contact</h1>

<form class="" action="create-contact" method="POST">
  <div><input type="text" name="firstname" placeholder="First Name"></div>
  <div><input type="text" name="lastname" placeholder="Last Name"></div>
  <div><input type="text" name="phone" placeholder="Phone Number"></div>
  <div><input type="email" name="email" placeholder="Email"></div>
  <button>Create</button>
</form>
