<% layout('layouts/boilerplate') -%>

<form class="" action="/login" method="POST">
  <div class="">
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" placeholder="Username" required>
  </div>
  <div class="">
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="Password" required>
  </div>
  <input type="submit">
</form>
